<div class="border-b border-gray-200 py-5">
  <h3 class="text-lg font-medium leading-6 text-gray-900">View component</h3>
  <p class="mt-2 max-w-4xl text-sm text-gray-500">View Components are like partials, but with the added benefit of a class that can control logic and easily tested</p>
</div>

<%= render(PriceChartComponent.new(@pricing_data1)) %>

<%= price_chart(@pricing_data2) %>

<%= price_chart(@pricing_data3) %>


