<div class="border-b border-gray-200 py-5">
  <h3 class="text-lg font-medium leading-6 text-gray-900">Partials</h3>
  <p class="mt-2 max-w-4xl text-sm text-gray-500">Use Rails Partials to hold the HTML</p>
</div>

<%= render 'price_container' %>