<header class="pagehead">
  <div class="pagehead-subheading">Benefits</div>
</header>

<section class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">More Leads/More Sales</h2>
      <h3 class="section-subheading text-muted">Easy to say, and thanks to Print Speak, it’s becoming easier to do.</h3>
    </div>


    <div class="row text-center">
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
        <h4 class="my-3">Its in the Details</h4>
        <p class="text-muted">Ensuring smaller tasks that are often left behind get done, like estimate follow-ups and order acknowledgements, is the key to small but constant improvements</p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
        <h4 class="my-3">One Percenters</h4>
        <p class="text-muted">These “one-percenters” make a big difference to overall performance, which is why Print Speak subscribers benefit from the streamlined processes and convenient tools that allow them to outperform those that go it alone.</p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-lock fa-stack-1x fa-inverse"></i></span>
        <h4 class="my-3">Conversion</h4>
        <p class="text-muted">Remember, every little bit counts towards better conversion rates. You can count on Print Speak to help with the little things that matter most, converting opportunities into sales.</p>
      </div>
    </div>
  </div>
</section>
