<h1>Annotate</h1>

<p>Annotates Rails/ActiveRecord Models, routes, fixtures, and others based on the database schema.</p>

<pre>
<code>
# == Schema Information
#
# Table name: posts
#
#  id         :integer          not null, primary key
#  body       :text
#  title      :string
#  created_at :datetime         not null
#  updated_at :datetime         not null
#
class Post < ApplicationRecord
end
</code>
</pre>
