<div class="bg-white">
  <div class="mx-auto max-w-7xl py-24 px-4 sm:px-6 lg:px-8">
    <div class="sm:align-center sm:flex sm:flex-col">
      <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-center"><%= @chart.title %></h1>
    </div>
    <div class="<%= card_list_class %>">
      <% @chart.cards.each do |card| %>
        <%= render PriceCardComponent.new(card) %>
      <% end %>
    </div>
  </div>
</div>
