{
  "args": {
    "app_path": "r7_<%= data.name_snake %>",
    "destination_root": "<%= data.destination_root %>",
    "when_folder_exist": "destroy"
  },
  "opts": {
    "skip_git": true,
    "skip_test": true,
    "add_minimal_css": true,
    "template": "<%= data.template_file %>",
    "add_<%= data.name_snake %>": true
  }
}
