<!DOCTYPE html>
<html>
  <head>
    <title><%= camelized %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%- if options[:skip_hotwire] || options[:skip_javascript] -%>
    <%%= stylesheet_link_tag "application" %>
    <%- else -%>
    <%%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%- end -%>
    <%%= render head_partial if head_partial %>
  </head>

  <body>
    <%%= render navbar_partial if navbar_partial %>
    <%%= yield %>
    <%%= render footer_partial if footer_partial %>
  </body>
</html>
