<style>
.alert { color: red; }
.notice { color: green; }
</style>

<% flash.each do |type, msg| %><div class="<%= type %>"><%= msg %></div><% end %>
<% if flash.any? %><hr /><% end %>

<h1>Acts as list</h1>

<h2>This "acts_as" extension provides the capabilities for sorting and reordering a number of objects in a list. The class that has this specified needs to have a "position" column defined as an integer on the mapped database table.</h2>

<%= link_to 'ToDo List', todo_lists_path %> |
<%= link_to 'ToDo Items', todo_items_path %> |
