<div class="dropdown">
  <label tabindex="0" class="btn m-1">Select Theme</label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <li data-value="">Default</li>
    <li data-value="aqua">Aqua</li>
    <li data-value="black">Black</li>
    <li data-value="bumblebee">Bumblebee</li>
    <li data-value="cmyk">Cmyk</li>
    <li data-value="corporate">Corporate</li>
    <li data-value="cupcake">Cupcake</li>
    <li data-value="cyberpunk">Cyberpunk</li>
    <li data-value="dark">Dark</li>
    <li data-value="dracula">Dracula</li>
    <li data-value="emerald">Emerald</li>
    <li data-value="fantasy">Fantasy</li>
    <li data-value="forest">Forest</li>
    <li data-value="garden">Garden</li>
    <li data-value="halloween">Halloween</li>
    <li data-value="light">Light</li>
    <li data-value="lofi">Lofi</li>
    <li data-value="luxury">Luxury</li>
    <li data-value="pastel">Pastel</li>
    <li data-value="retro">Retro</li>
    <li data-value="synthwave">Synthwave</li>
    <li data-value="valentine">Valentine</li>
    <li data-value="wireframe">Wireframe</li>
    <li data-value="autumn">Autumn</li>
    <li data-value="business">Business</li>
    <li data-value="acid">Acid</li>
    <li data-value="lemonade">Lemonade</li>
    <li data-value="night">Night</li>
    <li data-value="coffee">Coffee</li>
    <li data-value="winter">Winter</li>
  </select>
</div>
