<div id="<%= dom_id post %>">
  <h4>posted by <%= post.user.email %></h4>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
