<h1>Dotenv</h1>

<h2>Loads environment variables from `.env`.</h2>

<pre>
ENV['RAILS_ENV'] = <%= ENV['RAILS_ENV'] %>
ENV['DATABASE_HOST'] = <%= ENV['DATABASE_HOST'] %>
ENV['DATABASE_USERNAME'] = <%= ENV['DATABASE_USERNAME'] %>
ENV['DATABASE_PASSWORD'] = <%= ENV['DATABASE_PASSWORD'] %>
</pre>
